<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/base::head(dark)">
	<meta charset="UTF-8">
</head>
<body>
	<header th:replace="layouts/base::header(dark)"></header>
	
	<div class="container">
		<div class="card bg-dark">
			<div class="card-header">
				<h3 th:text="${accion} == 'guardar' ? 'Nuevo producto' : 'Editar producto'"></h3>
			</div>
			<div class="card-body">
				
				<!-- Mostrar los errores en una lista -->
				<!-- 
				<div th:object="${producto}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger" role="alert">
						<li th:each="error : ${#fields.errors('*')}" th:text="${error}"></li>
					</ul>
				</div>
				 -->
				 
				<form th:action="@{${accion}}" th:object="${producto}" method="post">
					<input type="hidden" th:field="*{id}" />
		
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Código</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{codigo}">
							<small class="form-text text-danger" th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Nombre</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{nombre}">
							<small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Precio</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{precio}">
							<small class="form-text text-danger" th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Unidades mínimas</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{unidadesMinimas}">
							<small class="form-text text-danger" th:if="${#fields.hasErrors('unidadesMinimas')}" th:errors="*{unidadesMinimas}"></small>
							<small class="form-text text-danger" th:if="${#fields.hasErrors('global')}" th:errors="global"></small>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-6">
							<input type="submit" value="Guardar" class="btn btn-outline-primary">
							<a th:href="@{${accion} == 'guardar' OR ${#fields.hasErrors('*')} ? 'lista' : '../lista'}" class="btn btn-outline-danger">Cancelar</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<footer th:replace="layouts/base::footer(dark)"></footer>
</body>
</html>