<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout::head">
	<meta charset="UTF-8">
</head>
<body>
	<header th:replace="layout/layout::header"></header>
	
	<div class="container">
		<div class="card bg-dark">
			<div class="card-header">
				<h3>Nuevo producto</h3>
			</div>
			<div class="card-body">
				<form th:action="@{guardar}" th:object="${producto}" method="post">
					<!-- <input type="hidden" th:field="${producto.id}"> -->
					<input type="hidden" th:field="*{id}" />
		
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Código</label>
						<div class="col-sm-6">
							<!-- <input type="text" th:field="${producto.nombre}"> -->
							<input type="text" th:field="*{nombre}">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Nombre</label>
						<div class="col-sm-6">
							<!-- <input type="text" th:field="${producto.codigo}"> -->
							<input type="text" th:field="*{codigo}">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Precio</label>
						<div class="col-sm-6">
							<!-- <input type="text" th:field="${producto.precio}"> -->
							<input type="text" th:field="*{precio}">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-6">
							<input type="submit" value="Añadir producto" class="btn btn-outline-primary">
							<a th:href="@{lista}" class="btn btn-outline-danger">Cancelar</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<footer th:replace="layout/layout::footer" class="bg-dark"></footer>
</body>
</html>