<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout::head">
	<meta charset="UTF-8">
</head>
<body>
	<header th:replace="layout/layout::header"></header>
	
	<div class="container">
		<div class="card bg-dark">
			<div class="card-header">
				<h3>Lista de productos</h3>
			</div>
			<div class="card-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Código</th>
							<th>Nombre</th>
							<th>Precio</th>		
							<th></th>					
						</tr>
					</thead>
					<tbody>
						<tr th:each="producto: ${productos}">
							<td th:text="${producto.id}"></td>
							<td th:text="${producto.codigo}"></td>
							<td th:text="${producto.nombre}"></td>
							<td th:text="${producto.precio}"></td>
							<td><a th:href="@{eliminar/} + ${producto.id}" th:text="'Eliminar'" class="btn btn-outline-danger"></a></td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="5">
								<a th:href="@{crear}" class="btn btn-outline-primary btn-block">Añadir Producto</a>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
	
	<footer th:replace="layout/layout::footer" class="bg-dark"></footer>
</body>
</html>